@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin center ($alignItems, $justifyContent) {
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
}