
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

// SCREEN SIZE 
$mobileScreen: 300px;
$tabletScreen: 700px;
$desktopScreen: 1000px;

// COLORS


// FONT FAMILIES 
$font-family: 'Noto Sans', sans-serif; 