@media (min-width:200px){
    footer h3{
        color: $titlecolor;
      }
      main{
        align-items: center
      }
      
      main,
      main > section,
      main > section > aside,
      section > article,
      section > section,
      section > section > aside{
        @include column(0);
      }
      h4{
        text-transform: uppercase;
        color: $titlecolor;
        font-weight: 900;
      }
      h2{
        color: $bg2color;
        font-weight: 900;
      }
      .quote{
        background-color: $bg1color;
      }
      h5{
        color: $titlecolor;
      }
      h6{
        color: $bg2color;
      }
      li{
        list-style-type: none;
      }
      
      .quote{
        input[type=submit]{
          background-color: $bg2color;
          color: whitesmoke;
          border: 2px solid $bg2color;
        }
      }
      
      .pricing{
        li{
          color: dimgray;
        }
      }
      p{
        color: dimgray;
      }
      a{
        text-decoration: none;
      }
    /* footer */
    .form{
        @include column(5vh);
        align-items: center;
        > aside{
            width: 90%;
        }
    }
    footer{
        padding-top: 13vh;

        [class$=right]{
            font-size: .7rem;
        }
        address{
            font-style: normal
        }
        
    }
    .social{
        @include column(3vh);
        text-align: center;
        align-items: center;
        padding-bottom: 5vh;

        ul{
            display: flex;
            width: 85%;
            justify-content: space-around;
        }
    }
    /* services */
    main > section{
        width: 85%;
        padding: 15vh 0;
    }

    section > article{
        text-align: center;
        padding-bottom: 4vh;
        h2,h4{
            font-weight: 800;
        }
    }

    h2{
        font-size: 1.8rem;
    }
    .services{
        > section article{
            display: flex;
            background-color: $titlecolor;
            @include center;
            height: 10vh;
            column-gap: 3vh;
            width: 100%;
        }
        article > h5{
            color: whitesmoke;
            font-size: 15px;
            font-weight: 400;
        }
        article > i{
            font-size: 1.8rem;
            color: $bg2color;
        }
        p{
            text-align: center;
        }
        a{
            display: flex;
            justify-content: center;
            border-bottom: 1px solid lightgrey;
            color: $titlecolor;
            width: 26%
        }
        > section{
            @include column(6vh);
        }
        > section > aside{
            @include column (2vh);
            align-items: center;
        }
    }

    /* quote */
    .quote{
        width: 100%;
        align-items: center;
        row-gap: 8vh;
        form{
            background-color: $titlecolor;
            @include column(2vh);
            padding: 14vh 3vh;
        }
        input,select{
            padding: 2vh 4vh;
        }
        padding: 6vh 0 0 0;
    }
    .left{
        @include column(3vh);
        h5{
            font-size: 1.4rem;
            font-weight: 900;
        }
        h6{
            font-size: .8rem;
            font-weight: 900;
        }
        > section {
            @include column (2vh);
        }
    }
    .left, .right{
        width: 85%;
    }
    /* pricing plan*/
    .pricing{
        
        p{
            font-size: 20px;
            padding: 4vh;
            font-weight: 600;
        }
        a{
            background-color: $titlecolor;
            width: 40%;
            height: 5vh;
            @include center;
            display: flex;
            color: whitesmoke;
        }
        > section{
            h2{
                width: 100%;
                height: 12vh;
                background-color: $titlecolor;
                display: flex;
                @include center;
            }
        }
        > section > aside{
            background-color: $bg1color;
            align-items: center;
            padding-bottom: 5vh;

            strong{
                color: $bg2color;
                font-size: 2rem;
            }

            span{
                font-size: 23px;
                font-weight: 700;
            }
            
            
            
        }
        aside li{
            padding: 2vh;
            text-align: center;
        }
        > article{
            padding-bottom: 0;
        }
        row-gap: 5vh;
    }
    

}