@media (min-width: $desktopScreen) {

    .about p,
    .choose-us p {
        font-size: 18px;
    }

    // HEADER
    header {
        h1 {
            font-size: 65px;
        }

        form {
            width: 70%;
            input {
                padding: 2%;
                width: 30%;
            }

            [type="submit"] {
                color: whitesmoke;
                background-color: orangered;
                width: 10%;
                display: flex;
                justify-content: center;
            }
        }
    }
    // ABOUT
    .about {
        flex-direction: row;
        column-gap: 3vh;
        > figure {
            width: 42vh;
            height: 42vh;
        }
        
        section {
            width: 55%;
        }
    }

    // CHOOSE-US
    .choose-us {
        > figure {
            flex-direction: row;
            padding-bottom: 0;
            width: 90%;
            column-gap: 3vh;
        }

        img {
            width: 30%;
            height: 100%;
        }

        figcaption {
            width: 60%;
        }

        a {
            padding: 1vh;
        }
    }
    // TEAM
    .team {
        > aside {
            flex-wrap: nowrap;
        }

        figure {
            width: 33vh;
            height: 45vh;
        }

        figcaption {
            &:hover ul {
                font-size: 30px;
            }
        }

        ul {
            column-gap: 3vw;
        }
    }

    // BLOG
    .blog {
        width: 100%;
       
        .first-block,
        .second-block {
            > img {
                height: 40vh;
            }
        }

        section {
            width: 90%;
            justify-content: unset;
            column-gap: 3vh;

            figcaption,
            p {
                width: 100%;
            }
        }

        figcaption {
            > aside p {
                font-size: 18px;
            }
        }

        h4 {
            font-size: 25px;
        }

        a {
            width: 12vh;
            letter-spacing: 4px;
        }
    }
}