@media (min-width: $desktopScreen) {


    // CHOOSE-US
    .choose-us {
        // background-color: gainsboro;
        > figure {
            flex-direction: row;
            padding-bottom: 0;
            width: 90%;
            column-gap: 3vh;
        }

        img {
            width: 30%;
            height: 100%;
        }

        figcaption {
            width: 60%;
        }

        a {
            padding: 1vh;
        }
    }
    // TEAM
    .team {
        > aside {
            flex-wrap: nowrap;
        }

        figure {
            width: 37vh;
            height: 37vh;
        }
    }

    // BLOG
    .blog {
        width: 100%;
       
        .first-block,
        .second-block {
            > img {
                height: 40vh;
            }
        }

        section {
            width: 90%;
            justify-content: unset;
            column-gap: 3vh;

            figcaption,
            p {
                width: 100%;
            }
        }

        figcaption {
            > aside p {
                font-size: 18px;
            }
        }

        h4 {
            font-size: 25px;
        }

        a {
            width: 20%;
            letter-spacing: 4px;
        }
    }
}