@media (min-width: $desktopScreen) {

    .about p,
    .choose-us p {
        font-size: 18px;
    }

    .about article,
    .choose-us article {
        
        small {
            font-size: 13px;
        }
    
        h3 {
            font-size: 30px;
        }
    }

    .monika-main {
        padding: 0%;
    }

    // HEADER
    header {
        h1 {
            font-size: 65px;
        }

        form {
            width: 70%;
            input {
                padding: 2%;
                width: 30%;
            }

            [type="submit"] {
                color: whitesmoke;
                background-color: orangered;
                display: flex;
                justify-content: center;
            }
        }
    }
    // ABOUT
    .about {
        flex-direction: row;
        column-gap: 3vh;
        > figure {
            width: 42vh;
            height: 42vh;
        }
        

        figcaption {
            width: 42vh;
        }

        section {
            width: 55%;
        }

        p {
            font-size: 16px;
        }
    }

    // CHOOSE-US
    .choose-us {
        width: 100%;
        > figure {
            flex-direction: row;
            padding-bottom: 0;
            width: 90%;
            column-gap: 3vh;
        }

        img {
            width: 30%;
            height: 60vh;
        }

        figcaption {
            width: 60%;
        }


        h3 {
            font-size: 30px;
        }

        p {
            font-size: 16px;
        }

        a {
            padding: 1vh;
        }
    }
    // TEAM
    .team {
        > aside {
            flex-wrap: nowrap;
            column-gap: 3vh;
            width: 90vw;
        }

        figure {
            width: 25vw;
            height: 43vh;
        }

        figcaption {
            &:hover ul {
                font-size: 30px;
            }
        }

        ul {
            column-gap: 3vw;
        }

        i {
            font-size: 20px;
        }
    }

    // BLOG
    .blog {
        width: 100%;
        > aside {
            width: 90vw;
        }
       
        .first-block,
        .second-block {
            > img {
                height: 40vh;
            }
            
            > figcaption {
                min-height: 60vh;
            }
        }

        section {
            width: 90%;
            justify-content: unset;
            column-gap: 3vh;
            > figure,
            > article {
                width: unset;
            }

            figcaption,
            p {
                width: 100%;
            }
        }

        figcaption {
            > aside p {
                font-size: 18px;
            }
        }

        h4 {
            font-size: 25px;
        }

        a {
            width: 11vw;
        }
    }
}