@media (min-width: $mobileScreen) {
    img {
        width: 30%;
    }

    main {
        @include column (15vh);
        padding-bottom: 15vh;
        padding-top: 15vh;
    }

    .row {
        @include column(5vh);
        @include center;
    
        > article {
            @include column (1vh);
            @include center;

            small {
                color: orangered;
                font-weight: 800;
            }
    
            h3 {
                font-size: 30px;
            }
        }

        article {
            @include column (1vh);
            
            small {
                color: orangered;
                font-weight: 800;
            }

            h3 {
                font-size: 30px;
            }
        }

        i {
            color: orangered
        }

        p {
            color: gray;
        }

        a {
            text-decoration: none
        }
    }
    
    // HEADER
    [data-bind="monika"] > section > aside {
        @include column(1vh);
        @include center;
    }
    
    header {
        h1 {
            font-size: 40px;
            width: 50%;
            color: whitesmoke;
            font-weight: 800;
            text-align: center;
        }
    
        h3 {
            color: orangered;
            font-size: 25px;
        }
    
        form {
            width: 100%;
            > aside {
                display: flex;
                width: 100%;
                justify-content: center;
            }
    
            input {
                display: flex;
                padding: 5%;
                border: none;
            }
    
            [type="submit"] {
                color: whitesmoke;
                background-color: orangered;
            }
        }
    }

    // ABOUT
    .about {
        > figure {
            display: flex;
            align-items: flex-end;
            width: 85%;
            > img {
                width: 100%;
                position: relative;
            }

            > figcaption {
                position: absolute;
                display: flex;
                @include center;
                width: 85%;
                background-color: orangered;
                height: 10%;
            }

            h4 {
                font-size: 23px;
            }
        }

        section {
            @include column (2vh);
            width: 85%;
            > p {
                padding-bottom: 3vh;
            }
        }

        a {
            display: flex;
            align-items: center;
            column-gap: 3vh;
            color: black;
            font-weight: 800;
        }

        i {
            display: flex;
            @include center;
            color: black;
            background-color: orangered;
            // padding: 2vh;
            width: 7vh;
            height: 7vh;
            border: 3px solid orangered;
            outline: 6px solid rgb(252, 184, 128);
            border-radius: 50px;
            font-size: 25px;
        }
    }

    // CHOOSE-US
    .choose-us {
        > figure {
            @include column (5vh);
            @include center;
            background-color: gainsboro;
            padding-bottom: 7vh;
        }

        img {
            width: 85%;
        }

        figcaption {
            @include column (3vh);
            width: 85%;

            > section {
                @include column (1vh);
            }

            aside {
                display: flex;
                align-items: center;
                column-gap: 2vh;
            }
        }

        a {
            color: whitesmoke;
            background-color: orangered;
            width: 35%;
            padding: 3vw;
            display: flex;
            @include center;
        }
    }
    
    // TEAM
    .team {
        > aside {
            width: 85%;
            @include column (3vh);
            // @include center;
        }

        img {
            width: 100%
        }

        figure {
            background-color: gainsboro;
            > figcaption {
                @include column (2vh);
                @include center;
                height: 15vh;
                border-bottom: 4px solid orangered;
            }
        }

        strong {
            font-size: 18px;
        }
    }

    // BLOG
    .blog {
        > figure {
            @include column (0vh);
            @include center;
            > img {
                width: 85%;
            }

            > figcaption {
                @include column (2vh);
                @include center;
                width: 85%;
                height: 65vh;
                background-color: gainsboro;
            }
        }

        section {
            display: flex;
            justify-content: center;
            > figure,
            > article {
                display: flex;
                align-items: center;
                column-gap: 2vh;
            }

            img {
                border-radius: 50px;
                width: 25%;
                height: 5vh;
            }

            figcaption,
            p {
                width: 35%;
                color: gray;
            }
        }

        aside {
            @include column (2vh);
            width: 90%;
        }

        h4 {
            font-size: 20px;
        }

        a {
            color: orangered;
            border-bottom: 2px solid orangered;
            width: 37%;
            padding-bottom: 1%;
        }
    }
}