@media (min-width: $mobileScreen) {
    img {
        width: 30%;
    }

    // HEADER
    [data-bind="monika"] > section > aside {
        @include column(1vh);
        align-items: center;
    }

    header {
        h1 {
            font-size: 40px;
            width: 50%;
            color: whitesmoke;
            font-weight: 800;
            text-align: center;
        }

        h3 {
            color: orangered;
            font-size: 25px;
        }

        form {
            width: 100%;
            > aside {
                display: flex;
                width: 100%;
                justify-content: center;
            }

            input {
                display: flex;
                padding: 5%;
                border: none;
            }

            [type="submit"] {
                color: whitesmoke;
                background-color: orangered;
            }
        }
    }
}