@media (min-width: $tabletScreen) {
    
    .row {
        > article {
            small {
                font-size: 23px;
            }
    
            h3 {
                font-size: 45px;
            }
        }
    }

    .about article,
    .choose-us article {
        
        small {
            font-size: 16px;
        }
    
        h3 {
            font-size: 40px;
        }
    }

    // CHOOSE-US
    .choose-us {
        > figure {
            row-gap: 3vh;
            padding-bottom: 4vh;
        }

        // img {
        //     width: 55vh;
        //     height: 60vh;
        // }

        a {
            width: 15%;
            padding: 1.5vw;
            transition: .6s;
        }

        a:hover {
            cursor: pointer;
            background-color: gainsboro;
            color: orangered;
        }
    }

    // TEAM
    .team {
        > aside {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;
        }

        figure {
            width: 40%;
            > figcaption {
                height: 10vh;
                row-gap: 1vh;
            }
        }

        strong {
            font-size: 20px;
        }

        p {
            font-size: 18px;
        }
    }
    
    // BLOG
    .blog {
        > aside {
            flex-direction: row;
            column-gap: 3vh;
        }

        .first-block,
        .second-block {
            > img {
                height: 20vh;
            }

            > figcaption {
                min-height: 40vh;
            }
        }

        section {
            width: 80%;
            > figure,
            > article {
                column-gap: 1vh;
            }
        }

        a:hover {
            cursor: pointer;
            color: whitesmoke;
            background-color: orangered;
            padding: 3%;
        }
    }
}